extends layout

block content
	h1= title
	p Welcome to #{title}

	div.chatting-result

	div.container
		form.chatting-form( type='post' )
			input#chatting-message( type='text' name='message' placeholder='Enter message' )
			button( type='submit' ) Submit

	script( src='/javascripts/chatting.js' )
